<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>ts=%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} level=%level thread=%thread logger=%logger{36} correlationId=%X{correlationId:-} actorId=%X{actorId:-} msg="%msg"%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
