POSTGRES_DB=insureflow
POSTGRES_USER=insureflow
POSTGRES_PASSWORD=insureflow
POSTGRES_PORT=5432

RABBITMQ_DEFAULT_USER=insureflow
RABBITMQ_DEFAULT_PASS=insureflow
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

SPRING_PROFILES_ACTIVE=local
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/insureflow
SPRING_DATASOURCE_USERNAME=insureflow
SPRING_DATASOURCE_PASSWORD=insureflow
